*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

header{

    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    background-color: #4F5D75;
    color: #ffff;
    max-width: 40rem;
    text-align: center;
    padding: 1rem;
}
