<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>v-model</title>
</head>
<body>
    <div id="app">
        <div class="myDiv">
             <form action="" @submit>
            <p>what do you need?<br>
                <input type="text" required placeholder="item name" v-model="itemName">
            </p>
            <p>
                How many? <br>
                <input type="number" placeholder="number of items.." v-model="itemNumber">
              </p>
              <p>
                imporatnt?
                <label >
                    <input type="checkbox" v-model="itemImportant" >
                    {{itemImportant}}
                </label>
              </p>
            
        </form>
        </div>
       
    </div>




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>

    </script>
</body>
</html>