<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="game">
      <div class="character">
        <h2>Monster</h2>
        <img src="assets/monster.png" alt="Monster" />
        <div class="health-bar">
          <div class="health-bar-value" :style="monsterBarStyles"></div>
        </div>
      </div>

      <div class="character">
        <h2>Player</h2>
        <img src="assets/player.png" alt="Player" />
        <div class="health-bar">
          <div class="health-bar-value" :style="playerBarStyles"></div>
        </div>
      </div>

      <div v-if="winner" :class="['result', resultClass]">
        <h3 v-if="winner === 'monster' ">game over</h3>
        <h3 v-if="winner ==='draw' ">lost</h3>
        <h3 v-if="winner === 'player' ">won</h3>
        <button @click="startGame">start new game</button>
      </div>

      <div v-else class="actions">
        <button @click="attackMonster">Attack</button>
        <button :disabled="currentRound % 3 !== 0" @click="specialAttack">
          Special Attack
        </button>
        <button @click="healPlayer">Heal</button>
        <button @click="surrender">surrender</button>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
